<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi-VN" dir="LTR" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Payment</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/main.js"></script>
</head>
<body>

<main>
    <div class="page_checkouts">
        <div class="inner_row">
            <div class="inner_col_right">
                <a href="/"><img src="images/monnica.png" alt=""/></a>
                <h2 class="text-2xl font-bold my-3">Hình thức vận chuyển</h2>
                <from action="">
                    <div class="ship_item">
                        <label>
                            <input name="ship" type="radio"/>
                            <span></span>
                            <img src="images/delivery.png" alt="">
                            <p>
                                <b>Giao hàng tận nơi (GHTN)</b>
                                Khách hàng đặt hàng và giao hàng tận nhà
                            </p>
                        </label>
                    </div>
                    <div class="ship_item">
                        <label>
                            <input name="ship" type="radio"/>
                            <span></span>
                            <img src="images/fast-delivery.png" alt="">
                            <p>
                                <b>Giao hàng nhanh (GHN)</b>
                                Khách hàng đặt hàng và giao hàng nhanh tận nhà
                            </p>
                        </label>
                    </div>
                </from>
                <h2 class="text-2xl font-bold my-3">Hình thức thanh toán</h2>
                <form action="">
                    <div class="pay_item">
                        <label>
                            <input name="pay" type="radio"/>
                            <span></span>
                            <img src="images/atm.png" alt=""/>
                            <p>
                                <b>Chuyển khoản</b>
                                Sử dụng thẻ ATM hoặc dịch vụ Internet Banking
                                để tiến hành chuyển khoản cho chúng tôi
                            </p>
                        </label>
                    </div>
                    <div class="pay_item">
                        <label>
                            <input name="pay" type="radio"/>
                            <span></span>
                            <img src="images/cod.png" alt=""/>
                            <p>
                                <b>Thanh toán khi nhận hàng (COD)</b>
                                Khách hàng thanh toán bằng tiền mặt cho nhân viên
                                giao hàng khi sản phẩm được chuyển tới địa chỉ nhận hàng
                            </p>
                        </label>
                    </div>

                    <div class="row_btn">
                        <a href="/checkout" class="button button--secondary">
                        <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                              strokeWidth="1.5" stroke="currentColor" class="size-6 mr-3">
                            <path strokeLinecap="round" strokeLinejoin="round"
                                  d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
                        </svg>
                        Quay lại
                        </a>
                        <a href="/bill" class="button button--primary">
                        Đặt hàng
                        </a>
                    </div>
                </form>
            </div>
            <div class="inner_col_left">
                <div class="cart_info_bg_bg">
                    <div class="CartDrawer_item">
                        <a href="" class="CartDrawer_thumb">
                        <img src="images/7.1b.webp" alt=""/>
                        </a>
                        <div class="CartDrawer_item_info">
                            <h3>
                                Áo măng tô
                            </h3>
                            <span>Số lượng: 2</span>
                            <div>1,699,999đ</div>
                        </div>
                    </div>
                    <div class="CartDrawer_item">
                        <a href="" class="CartDrawer_thumb">
                        <img src="images/7.1b.webp" alt=""/>
                        </a>
                        <div class="CartDrawer_item_info">
                            <h3>
                                Áo măng tô
                            </h3>
                            <span>Số lượng: 2</span>
                            <div>1,699,999đ</div>
                        </div>
                    </div>

                    <div class="CartDrawer_footer">
                        <div class="CartDrawer_total">
                            <span>Thành tiền</span>
                            <b>2,787,787đ</b>
                        </div>
                        <div class="CartDrawer_total">
                            <span>Phí vận chuyển</span>
                            <b>50.000đ</b>
                        </div>
                        <div class="CartDrawer_total_bot">
                            <span>Tổng tiền</span>
                            <b>50.000đ</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>