<div class="container-fluid px-4 pb-3">
    <div class="d-grid gap-2 d-flex align-items-center justify-content-between mb-2">
        <h2 class="mt-4">Bán hàng tại quầy</h2>
        <button ng-if="bills.length < 7" class="btn btn-dark btn-sm me-md-2" ng-click="addBill()" >
            <svg style="vertical-align: sub;" xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            Tạo hóa đơn
        </button>
    </div>
    <div class="" ng-if="bills.length === 0">
        <img class="img-fluid d-block m-auto" style="width: 180px;opacity: 0.7;" src="/images/box.png" alt="">
        <h6 class="mt-3 pb-4 text-center text-muted">Hóa đơn trống!</h6>
    </div>
    <div class="" ng-if="bills.length > 0">
        <div class="row">
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                    <div ng-show="!modeScan" style="width: 255px"  class="dropdown">
                        <!-- Input với ng-model -->
                        <input class="form-control form-control-sm" type="text" id="searchProduct2" ng-change="searchProduct()"
                               placeholder="Nhập tên sản phẩm" data-bs-toggle="dropdown"
                               ng-focus="showListProduct()" ng-model="searchTerm">
                        <!-- Dropdown với danh sách được lọc -->
                        <ul class="dropdown-menu px-0" id="tableproductlist2">
                            <li ng-repeat="(index, product) in listProduct" ng-if="product.trangThai == 1 && product.soLuong > 0 ">
                                <a class="dropdown-item px-1" href="javascript:void(0)"
                                   ng-style="{
                                   'pointer-events': product.soLuong <= 0 ? 'none' : 'auto',
                                   'opacity': product.soLuong <= 0 ? '0.5' : '1'
                                   }"
                                   ng-click="addProductToBill(product)">
                                        <div>
                                            <div class="d-flex" style="white-space: normal;">
                                                <div style="width: 35px; flex-shrink: 0" class="me-2">
                                                    <img class=" w-100"  ng-src="/images/{{product.image}}" width="50" alt="">
                                                </div>
                                                <div class="">
                                                    <span class="idProd">{{product.id}}</span> - <span class="nameProd">{{product.tenSanPham}}</span> - {{formatCurrency(product.gia)}} đ
                                                    <div class="text-muted">
                                                        <span class="me-1" ng-repeat="color in product.listMauSac">
                                                            <small ng-if="product.idMauSac === color.id">Màu sắc: {{color.ten}}</small>
                                                        </span>
                                                        <span class="me-1" ng-repeat="size in product.listSize">
                                                            <small ng-if="product.idSize === size.id">Size: {{size.ten}}</small>
                                                        </span>
                                                        <small class="">Số lượng: {{product.soLuong}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <input style="width: 255px;" ng-show="modeScan"
                           class="form-control form-control-sm"
                           ng-model="barcode" type="text"
                           ng-change="onBarcodeScan()"
                           name="barcode"
                           placeholder="Quét mã vạch" >

                    <button class="btn btn-sm ms-2" style="width: 50px;" ng-style="{'opacity': modeScan ? '1' : '0.3'}"  ng-click="toggleModeScan()" type="button">
                        <img width="25" src="/images/barcode.png" alt="">
                    </button>
                </div>
            </div>
            <div class="col-md-9">
                <nav class="d-flex position-relative nav-cont">
                    <button ng-if="bills.length >= 8"
                            class="btn btn-sm  border-0 position-absolute  top-50 translate-middle-y z-999"
                            ng-disabled="sliderPosition === 0"
                            ng-click="prevTab()" style="z-index: 10;left: -30px">
                        <svg width="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                        </svg>
                    </button>
                    <div class="nav-tab-slide">
                        <ul class="nav nav-tabs tabs-bill flex-nowrap"  id="nav-tab" role="tablist">
                            <li ng-style="{'transform': 'translateX(' + sliderOffset + 'px)'}" class="nav-item " ng-repeat="(index, bill) in bills" role="presentation">
                                <button class="nav-link text-nowrap" ng-class="{'active': index === activeBill}"
                                        ng-click="setActiveBill(index)" data-bs-toggle="tab" data-bs-target="#bill{{bill.name}}"
                                        type="button"> Hóa đơn {{bill.name}}
                                </button>
                                <span ng-click="removeBill(index)">
                                    <svg width="14" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                    </svg>
                                </span>
                            </li>
                            <li  ng-style="{'transform': 'translateX(' + sliderOffset + 'px)'}">
                                <button ng-if="bills.length < 7" class="btn" ng-click="addBill()" >
                                    <svg style="vertical-align: sub;" xmlns="http://www.w3.org/2000/svg" width="16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                    </svg>
                                </button>

                            </li>
                        </ul>
                    </div>
                    <button ng-if="bills.length >= 8"
                            class="btn btn-sm border-0 position-absolute top-50 translate-middle-y z-999"
                            ng-disabled="sliderPosition === maxSliderPosition"
                            ng-click="nextTab()" style="z-index: 10;right: -30px;">
                        <svg width="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                    </button>
                </nav>
            </div>
        </div>
        
        <div class="tab-content tab-content-bill" id="nav-tabContent">
            <div class="tab-pane fade" ng-repeat="(index, bill) in bills" ng-class="{'show active': index === activeBill}"
                 id="bill{{bill.name}}" role="tabpanel">
                <div ng-class="{'done-bill' : bill.disabled}">
                    <div class="d-grid gap-2 mb-3">
                        <h6 ng-if="bill.totalQuantity > 0" class="me-auto">Tổng sản phẩm ({{ removeLeadingZeros(bill.totalQuantity)}})</h6>
                    </div>
                    <div class="text-center pb-3 text-muted" ng-if="bill.items.length === 0">
                        <img src="/images/shopping-cart.png" width="32" class="me-2" alt="">
                        Chưa có sản phẩm trong hóa đơn {{bill.name}}!
                    </div>
                    <div ng-if="bill.items.length > 0" class="row pb-3" style="font-size: 13px">
                        <div class="col-9">
                            <div class="text-center" ng-if="bill.items.length === 0">
                                <img class="img-fluid d-block m-auto" src="images/box.png" alt="">
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" >Hình ảnh</th>
                                    <th scope="col">Màu sắc</th>
                                    <th scope="col">Size</th>
                                    <th scope="col" style="width: 120px;">Số lượng</th>
                                    <th scope="col" class="text-end">Đơn giá (VNĐ)</th>
                                    <th scope="col" class="text-end">Giá khuyến mãi (VNĐ)</th>
                                    <th scope="col"class="text-end">Thành tiền (VNĐ)</th>
                                    <th scope="col" class="text-center">Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in bill.items">
                                    <th scope="row">{{$index + 1}}</th>
                                    <td>
                                        <div class="d-flex">
                                            <div class="" style="width: 50px;margin-right: 10px;flex-shrink: 0">
                                                <img ng-src="/images/{{item.image}}" alt="" class="w-100">
                                            </div>
                                            <div class="text-wrap">{{item.tenSanPham}}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="!item.color" ng-repeat="color in item.listMauSac">
                                            <span ng-if="item.idMauSac === color.id">{{color.ten}}</span>
                                        </div>
                                        <div ng-if="item.color">
                                            <span>{{item.color}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="!item.size" ng-repeat="size in item.listSize">
                                            <span ng-if="item.idSize === size.id">{{size.ten}}</span>
                                        </div>
                                        <div ng-if="item.size">
                                            <span>{{item.size}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <button style="width: 28px; border-color: #dee2e6;" class="btn stn-sm btn-outline-secondary" type="button"  ng-click="decreaseQuantity(bill, item)">-</button>
                                            <input type="text" class="form-control text-center form-control-sm"
                                                   ng-model="item.soLuong"
                                                   max="item.soLuongMax"
                                                   ng-keypress="allowOnlyNumbers($event)"
                                                   ng-input="removeNonNumeric(item)"
                                                   ng-init="item.quantity = (item.quantity && item.quantity > 0) ? item.quantity : 1"
                                                   ng-change="updateQuantity(bill, item)"/>
                                            <button style="width: 28px; border-color: #dee2e6;" class="btn btn-sm btn-outline-secondary" type="button" ng-click="increaseQuantity(bill, item)">+</button>
                                        </div>

                                    </td>
                                    <td class="text-end">
                                        {{ formatCurrency(item.gia) }}
                                    </td>
                                    <td class="text-end">
                                        <span>{{ formatCurrency( item.giaSauKhuyenMai ) }}</span>
                                    </td>

                                    <td class="text-end">
                                        <span>
                                            {{ formatCurrency(
                                            item.giaSauKhuyenMai !== item.gia && item.giaSauKhuyenMai !== null ? item.soLuong * item.giaSauKhuyenMai :  item.soLuong * item.gia
                                            ) }}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <button ng-click="removeProduct(bill, item)" class="btn text-danger py-0">
                                            <svg width="17" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-3">
                            <div class="card rounded-0">
                                <h6 class="card-header">
                                    Thông tin hóa đơn
                                </h6>
                                <div class="card-body p-0">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="input-group">
                                            <span class="input-group-text">
                                                <svg width="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                                                </svg>
                                            </span>
                                                    <input type="text"
                                                           ng-model="bill.phoneCustomer"
                                                           class="form-control form-control-sm"
                                                           ng-keypress="allowOnlyNumbers($event)"
                                                           maxlength="10" ng-change="onPhoneChange(bill)"
                                                           placeholder="Số điện thoại khách hàng" id="phoneInput-{{ index + 1 }}">
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <svg width="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                                                        </svg>
                                                    </span>
                                                    <input type="text" ng-model="bill.nameCustomer"
                                                           placeholder="Tên khách hàng"
                                                           ng-readonly="bill.diemTichLuy > 0"
                                                           ng-disabled="bill.diemTichLuy > 0"
                                                           class="form-control form-control-sm" ng-keydown="onKeyDownName(bill)"
                                                           id="nameInput-{{ index + 1 }}">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="bill.diemTichLuy > 0 && bill.nameCustomer !== null">
                                            <td>
                                                <div>
                                                    Điểm tích lũy hiện có:
                                                    <b>{{bill.diemTichLuy}}</b>
                                                </div>
                                                <div class="input-group mt-1">
                                                    <button style="width: 28px; border-color: #dee2e6;" class="btn stn-sm py-1 btn-outline-secondary"
                                                            type="button"
                                                            ng-click="decreaseDiem(bill)">-</button>
                                                    <input type="text"
                                                           min="0"
                                                           max="{{bill.diemTichLuy}}"
                                                           placeholder="Nhập số điểm sử dụng"
                                                           ng-model="bill.diemSuDung"
                                                           ng-change="updatePointsToUse(bill)"
                                                           class="form-control form-control-sm" />
                                                    <button style="width: 28px; border-color: #dee2e6;"
                                                            class="btn btn-sm py-1  btn-outline-secondary"
                                                            type="button" ng-click="increaseDiem(bill)">+</button>
                                                </div>
                                                <div ng-if="bill.diemSuDung" class="mt-1">Giảm: <b>{{formatCurrency(bill.diemSuDung*10)}} VNĐ</b></div>
                                            </td>
                                        </tr>

<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <select name="" ng-model="bill.diemThuong" ng-change="getTotalAmount(bill)" class="form-control mb-1 form-control-sm">-->
<!--                                                    <option value="" selected>&#45;&#45; Chọn khuyến mãi &#45;&#45;</option>-->
<!--                                                    <option ng-repeat="voucher in vouchers" ng-value="voucher.giaTri">{{ voucher.ten }}</option>-->
<!--                                                </select>-->
<!--                                                <span ng-if="bill.diemThuong > 0">Giảm {{ bill.diemThuong }}%</span>-->
<!--                                            </td>-->
<!--                                        </tr>-->

                                        <tr>
                                            <td>
                                                <div class="d-flex justify-content-between">
                                                    <div scope="row">Tổng tiền</div>
                                                    <div class="text-end">
                                                        {{ formatCurrency( getTotalAmount(bill) ) }} VNĐ
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="input-group mb-1">
                                                    <input type="text" ng-model="bill.moneyCustomer" id="moneyCustomerInput"
                                                           class="form-control" currency-input placeholder="Nhập số tiền khách đưa" />
                                                    <span class="input-group-text" style="font-size: 11px;padding: 7px;">VNĐ</span>
                                                </div>
                                                <span ng-if="bill.moneyCustomer > 0" ng-class="{'text-danger': bill.moneyCustomer < getTotalAmount(bill)}">
                                                {{ bill.moneyCustomer < getTotalAmount(bill) ? 'Còn thiếu:' : 'Trả lại:' }}
                                                <b class="return-money">
                                                    {{
                                                        formatCurrency(
                                                            bill.moneyCustomer > getTotalAmount(bill) ?
                                                            bill.moneyCustomer - getTotalAmount(bill) :
                                                            getTotalAmount(bill) - bill.moneyCustomer
                                                        )
                                                    }} VNĐ
                                                </b>
        </span>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <div class="px-2 pb-2">
                                        <div class="form-check form-check-inline">
                                            <input ng-model="bill.payCustomer" ng-change="onChangePayment(bill)" checked class="form-check-input" type="radio" name="payment-{{bill.name}}" id="inlineRadio1-{{bill.name}}" value="money">
                                            <label class="form-check-label" for="inlineRadio1-{{bill.name}}">Tiền mặt</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input ng-model="bill.payCustomer" ng-change="onChangePayment(bill)" class="form-check-input" type="radio" name="payment-{{bill.name}}" id="inlineRadio2-{{bill.name}}" value="bank">
                                            <label class="form-check-label" for="inlineRadio2-{{bill.name}}">Chuyển khoản</label>
                                        </div>
                                        <div ng-if="bill.payCustomer === 'bank'" class="qr-block">
                                            <img width="150" ng-src="{{bill.payQRbank}}" alt="QR Code for Bank Transfer">
                                        </div>
                                        <div class="text-start mt-2">
                                            <button ng-click="payBill(bill)" ng-disabled="bill.payCustomer === 'bank' || bill.disabled || bill.moneyCustomer < getTotalAmount(bill) && bill.moneyCustomer > 0" class="btn btn-primary btn-block w-100">
                                                <img width="24" class="me-1" style="vertical-align: bottom;" src="/images/secure-payment.png" alt="">
                                                {{ bill.disabled ? 'Đã thanh toán ' + formatCurrency(getTotalAmount(bill)) + ' VNĐ' : 'Thanh toán ' + formatCurrency(getTotalAmount(bill)) + ' VNĐ'}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal hóa đơn -->
                <div class="modal fade" id="paymentModal-{{bill.name}}" tabindex="-1" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thanh toán thành công</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="font-size: 13px;">
                                <h6 class="mb-2"><b>Thông tin hóa đơn</b></h6>
                                <div class="bill-info-head" >
                                    <p class="mb-1"><b>Ngày mua:</b> <span>{{bill.dateBill}}</span></p>
                                    <p class="mb-1"><b>Nhân viên bán hàng:</b> <span>{{bill.tenNguoiTao}}</span></p>
                                    <p class="mb-1"><b>Hình thức thanh toán:</b> <span>{{bill.payCustomer === 'money' ? 'Tiền mặt' : 'Chuyển khoản'}}</span></p>
                                    <p class="mb-1" ng-if="bill.phoneCustomer !== null && bill.phoneCustomer !== '' && bill.nameCustomer !== null && bill.nameCustomer !== ''">
                                        <b>Người mua:</b> <span>{{bill.nameCustomer || Ziaza}}  ( +{{bill.billDiem}} điểm)</span>
                                    </p>
                                    <p class="mb-1" ng-if="bill.phoneCustomer !== null && bill.phoneCustomer !== '' && bill.nameCustomer !== null && bill.nameCustomer !== ''">
                                        <b>Đểm tích lũy sau khi hoàn thành hóa đơn:</b> <span>{{ bill.diemTichLuy }} điểm</span>
                                    </p>
                                    <p><b>Số HĐ:</b> <span>{{bill.codeBill}}</span></p>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Sản phẩm</th>
                                        <th class="text-center">Số lượng</th>
                                        <th class="text-end">Đơn giá (vnđ)</th>
                                        <th class="text-end">Thành tiền (vnđ)</th>
                                    </tr>
                                    </thead>
                                    <tbody class="prod-in-bill">
                                    <tr ng-repeat="item in bill.items">
                                        <th scope="row">{{$index + 1}}</th>
                                        <td>
                                            {{item.tenSanPham}} <br>
                                            <small class="text-muted">{{item.ghiChu}}</small>
                                        </td>
                                        <td>{{item.soLuong}}</td>
                                        <td class="text-end">
                                            <div>
                                                {{ formatCurrency( item.giaSauKhuyenMai ) }}<br>
                                                <del ng-if="item.giaSauKhuyenMai !== item.gia"><small class="text-muted">{{ formatCurrency(item.gia)}}</small></del>
                                            </div>
                                        </td>
                                        <td class="text-end">
                                            {{ formatCurrency( item.soLuong *  item.giaSauKhuyenMai ) }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex fw-bold justify-content-between">
                                    <div class="total-quantity">Tổng số lượng: {{bill.totalQuantity}}</div>
                                    <div class="total-quantity">Giá gốc: {{formatCurrency(bill.totalBillOrigin)}} VNĐ</div>
                                    <div class="total-total">Tổng thanh toán: {{formatCurrency(getTotalAmount(bill))}} VNĐ</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button"  data-bs-dismiss="modal" ng-click="printBill(bill, index)" class="btn btn-primary btn-done-bill">In hóa đơn</button>
                                <button type="button"  data-bs-dismiss="modal" ng-click="clearBill(bill, index)" class="btn btn-success btn-done-bill">Hoàn thành</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast border-0 bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex justify-content-between align-items-center">
                <div class="toast-body">
                    Đã lưu thông tin khách hàng!
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
