<div class="tab-content" >
    <div class="tab-pane fade show active" id="tab1">
    </div>
    <div class="tab-pane fade" id="tab2">...</div>
    <div class="tab-pane fade" id="tab3">...</div>
    <div class="tab-pane fade" id="tab4">
        <div class="item_prod_user">
            <div class="d-flex justify-content-between border-bottom pb-3">
                <a href="" class="thumb">
                    <img src="https://down-vn.img.susercontent.com/file/92f2f0fddb9671f6c8361bcea14bd302_tn" alt="">
                </a>
                <div class="info pe-2">
                    <h5><a href="">Áo Măng tô vải len</a></h5>
                    <div class="text-muted">Phân loại hàng: M, Kaki</div>
                    <div class="text-muted">x1</div>
                </div>
                <div class="ms-auto">
                    <img src="../images/car.png" class="me-2" alt="">Giao hàng thành công
                    <span class="text-success ms-2">ĐÃ GIAO</span>
                </div>
            </div>
            <div class="text-end mt-2">
                <span>Thành tiền:</span> <b class="h5 ms-1 text-danger">50.000đ</b>
                <div class="mt-2">
                    <a href="" class="btn btn-sm btn-dark">Mua lại</a>
                    <a href="" class="btn btn-sm btn-outline-dark">Đánh giá sản phẩm</a>
                </div>
            </div>
        </div>
        <div class="item_prod_user">
            <div class="d-flex justify-content-between border-bottom pb-3">
                <a href="" class="thumb">
                    <img src="https://down-vn.img.susercontent.com/file/92f2f0fddb9671f6c8361bcea14bd302_tn" alt="">
                </a>
                <div class="info pe-2">
                    <h5><a href="">Áo Măng tô vải len</a></h5>
                    <div class="text-muted">Phân loại hàng: M, Kaki</div>
                    <div class="text-muted">x1</div>
                </div>
                <div class="ms-auto">
                    <img src="../images/car.png" class="me-2" alt="">Giao hàng thành công
                    <span class="text-success ms-2">ĐÃ GIAO</span>
                </div>
            </div>
            <div class="text-end mt-2">
                <span>Thành tiền:</span> <b class="h5 ms-1 text-danger">50.000đ</b>
                <div class="mt-2">
                    <a href="" class="btn btn-sm btn-dark">Mua lại</a>
                    <a href="" class="btn btn-sm btn-outline-dark">Đánh giá sản phẩm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="tab5">...</div>
    <div class="tab-pane fade" id="tab6">...</div>
</div>