<div class="container-fluid px-4">
    <h2 class="mt-4">Quản lý yêu cầu {{getTitle()}}</h2><br>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <i class="fas fa-table me-1"></i>
                Danh sách yêu cầu {{getTitle()}}
            </div>
        </div>
        <div class="card-body">
            <!-- Tìm kiếm -->
            <div class="d-flex align-items-center mb-3">
                <input type="text" ng-model="searchText" placeholder="Tìm kiếm..." class="form-control me-2"
                       ng-change="pager.updateItems()"/>
                <select ng-model="trangThai" class="form-control me-2" ng-change="pager.updateItems()">
                    <option value="">Tất cả yêu cầu</option>
                    <option value="0">Chờ xử lý</option>
                    <option value="1">Đang xử lý</option>
                    <option value="2">Xác nhận</option>
                    <option value="3">Không xác nhận</option>
                </select>
            </div>
            <!-- Bảng hiển thị -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã hóa đơn</th>
                    <th>Người yêu cầu</th>
                    <th>Lý do</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in pager.items">
                    <td>{{$index + 1 + (pager.page * pager.size)}}</td>
                    <td>{{item.hoaDon.ma}}</td>
                    <td>{{item.user.profile.hoVaTen}}</td>
                    <td>{{item.lyDo}}</td>
                    <td>
                        <div class="badge"
                             ng-class="{'bg-primary': item.trangThai === 0, 'bg-warning': item.trangThai === 1, 'bg-success': item.trangThai === 2, 'bg-danger': item.trangThai === 3}">
                            <span ng-if="item.trangThai === 0">Chờ xử lý</span>
                            <span ng-if="item.trangThai === 1">Đang xử lý</span>
                            <span ng-if="item.trangThai === 2">Xác nhận</span>
                            <span ng-if="item.trangThai === 3">Không xác nhận</span>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-link" type="button"
                                    ng-if="item.trangThai === 0 || item.trangThai === 1"
                                    ng-click="updateStatus(item.id)">
                                <i class="fas fa-check icon-check"></i>
                            </button>
                            <button class="btn btn-link" type="button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" ng-click="edit(item)">
                                <i class="fas fa-info-circle"></i>
                            </button>
                            <button class="btn btn-link" type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#sanPhamDoiTraChiTiet" ng-click="loadChiTiet(item.id)">
                                <i class="fas fa-list-alt"></i>
                            </button>
                            <button class="btn btn-link" type="button"
                                    ng-if="item.trangThai === 0 || item.trangThai === 1"
                                    data-bs-toggle="modal"
                                    data-bs-target="#huyYeuCau"
                                    ng-click="openModal(item.id)">
                                <i class="fas fa-times icon-close"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Bộ điều khiển phân trang -->
            <div class="panel-footer d-flex justify-content-between align-items-center">
                <div class="me-auto">
                    <label for="pageSizeSelect" class="me-2">Hiển thị:</label>
                    <select id="pageSizeSelect" ng-model="pager.size" ng-change="pager.updateItems()"
                            class="form-select d-inline-block w-auto">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                </div>

                <div class="text-center">
                    <button ng-click="pager.first()" class="btn btn-danger" ng-disabled="pager.page === 0">
                        <i class="fas fa-angle-double-left"></i>
                    </button>
                    <button ng-click="pager.prev()" class="btn btn-primary" ng-disabled="pager.page === 0">
                        <i class="fas fa-angle-left"></i>
                    </button>
                    <button class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
                    <button ng-click="pager.next()" class="btn btn-primary" ng-disabled="pager.page >= pager.count - 1">
                        <i class="fas fa-angle-right"></i>
                    </button>
                    <button ng-click="pager.last()" class="btn btn-danger" ng-disabled="pager.page >= pager.count - 1">
                        <i class="fas fa-angle-double-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thông tin yêu cầu {{getTitle()}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid px-4">
                            <div class="row">
                                <div class="col-md-12 mt-2">
                                    <label>Mã hóa đơn</label>
                                    <input type="text" class="form-control" ng-model="form.hoaDon.ma" readonly>
                                    <label>Người yêu cầu</label>
                                    <input type="text" class="form-control" ng-model="form.user.profile.hoVaTen"
                                           readonly>
                                    <label>Ngày yêu cầu</label>
                                    <input type="text" class="form-control" ng-model="form.ngayYeuCau" readonly>
                                    <label>Lý do</label>
                                    <textarea type="text" class="form-control" ng-model="form.lyDo" readonly></textarea>
                                    <label>Ghi chú</label>
                                    <textarea type="text" class="form-control" ng-model="form.ghiChu"
                                              readonly></textarea>
                                    <label>Thông tin chuyển khoản</label>
                                    <textarea type="text" class="form-control" ng-model="form.thongTinChuyenKhoan" readonly></textarea>
                                    <label>Thông tin mặt hàng muốn đổi</label>
                                    <textarea type="text" class="form-control" ng-model="form.thongTinMatHangMuonDoi" readonly></textarea>

                                    <label>Ngày yêu cầu</label>
                                    <input type="text" class="form-control" ng-model="form.ngayYeuCau" readonly>

                                    <label>Video/Hình ảnh</label>
                                    <div class="row">
                                        <div class="col-md-3" ng-repeat="image in hinhanh">
                                            <img ng-src="/{{image.anh}}" class="img-thumbnail" alt="Hình ảnh"
                                                 ng-click="openImage(image.anh)"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fas fa-times"></i> Đóng
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="sanPhamDoiTraChiTiet" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sản phẩm yêu cầu {{getTitle()}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid px-4">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Màu sắc</th>
                                    <th>Size</th>
                                    <th>Số lượng</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="chiTiet in yeuCauChiTietList">
                                    <td>{{$index + 1}}</td>
                                    <td>{{chiTiet.sanPhamChiTiet.sanPham.ma}}</td>
                                    <td>{{chiTiet.sanPhamChiTiet.sanPham.ten}}</td>
                                    <td>{{chiTiet.sanPhamChiTiet.mauSac.ten}}</td>
                                    <td>{{chiTiet.sanPhamChiTiet.size.ten}}</td>
                                    <td>{{chiTiet.soLuong}}</td>
                                    <td>
                                        <div class="badge"
                                             ng-class="{'bg-primary': chiTiet.trangThai === 0, 'bg-warning': chiTiet.trangThai === 1, 'bg-success': chiTiet.trangThai === 2, 'bg-danger': chiTiet.trangThai === 3}">
                                            <span ng-if="chiTiet.trangThai === 0">Chờ xử lý</span>
                                            <span ng-if="chiTiet.trangThai === 1">Đang xử lý</span>
                                            <span ng-if="chiTiet.trangThai === 2">Xác nhận</span>
                                            <span ng-if="chiTiet.trangThai === 3">Không xác nhận</span>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-link" type="button"
                                                ng-if="chiTiet.trangThai === 1"
                                                ng-click="updateChiTietStatusHoanThanh(chiTiet)">
                                            <i class="fas fa-check icon-check"></i>
                                        </button>
                                        <button class="btn btn-link" type="button"
                                                ng-if="chiTiet.trangThai === 1"
                                                ng-click="updateChiTietStatusHuy(chiTiet)">
                                            <i class="fas fa-times icon-close"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fas fa-times"></i> Đóng
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="huyYeuCau" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-sm-down">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Hủy yêu cầu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid px-4">
                            <div class="form-floating">
                                <textarea class="form-control" ng-model="selectedGhiChu"
                                          placeholder="Leave a comment here" id="floatingTextarea2"
                                          style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Lý do</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <i class="fas fa-times"></i> Đóng
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="updateCancelOrder()">
                                <i class="fas fa-times icon-close"></i> Xác nhận
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModalLabel">Xem Hình Ảnh</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center justify-content-center align-content-center">
                        <img style="width: 400px; height: auto" ng-src="{{selectedImageUrl}}" class="img-fluid"
                             alt="Hình ảnh chi tiết"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
