/*======================================== config =================================*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #000000;
}

input {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    color: #222222;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Josefin Sans", sans-serif;
}

input, button {
    outline: none !important;
}

del {
    font-size: 12px;
    color: #999;
}

html {
    scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}

.flex-reverse {
    flex-wrap: wrap-reverse;
}

.w_100 {
    width: 100%;
}

.mb-15 {
    margin-bottom: 15px;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
    max-width: 1750px;
}
@media (max-width: 991px) {
    .container-fluid {
        padding: 0 20px;
    }
}

@media (max-width: 991px) {
    main {
        padding-top: 60px;
    }
}
.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
@media (max-width: 991px) {
    .header_inner .header_logo {
        order: 2;
    }
    .header_inner .header_logo img {
        width: 70px;
    }
}
.header_inner .nav_btn_mb {
    vertical-align: -1px;
    position: relative;
    width: 72px;
    height: 12px;
    padding: 14px 0;
    margin-left: 5px;
    border: 0;
    cursor: pointer;
    pointer-events: auto;
    display: none;
    background: none !important;
}
@media (max-width: 991px) {
    .header_inner .nav_btn_mb {
        display: block;
    }
}
.header_inner .nav_btn_mb span {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    width: 20px;
    height: 2px;
    background: #222222;
    transition: transform 0.2s ease;
}
.header_inner .nav_btn_mb span:before, .header_inner .nav_btn_mb span:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #222222;
}
.header_inner .nav_btn_mb span:before {
    top: -7px;
    transition: top 0.2s ease 0.22s, opacity 0.2s ease, width 0.2s ease;
}
.header_inner .nav_btn_mb span:after {
    bottom: -7px;
    transition: bottom 0.2s ease 0.22s, transform 0.2s ease, width 0.2s ease;
}
.header_inner .header_nav {
    font-weight: 700;
}
.header_inner .header_nav .header_menu {
    display: flex;
}
.header_inner .header_nav .header_menu li a {
    color: #222222;
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 16px;
    position: relative;
}
.header_inner .header_nav .header_menu li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: currentColor;
    left: 0;
    bottom: 10px;
    right: 0;
    margin: auto;
    transition: width 0.25s ease-in-out;
}
.header_inner .header_nav .header_menu li a:hover::after {
    width: 100%;
}
@media (max-width: 991px) {
    .header_inner .header_nav {
        order: 1;
    }
    .header_inner .header_nav .header_menu li a {
        padding: 15px 25px;
        display: block;
    }
}
.header_inner .header_icon {
    display: flex;
    align-items: center;
}
.header_inner .header_icon .tooltip {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 9999px;
    cursor: pointer;
    position: relative;
    padding: 5px;
    display: inline-block;
}
.header_inner .header_icon .tooltip .tooltip__content {
    bottom: 110%;
    left: 50%;
    transform: translate(-50%);
    visibility: hidden;
    position: absolute;
    z-index: 75;
    min-width: max-content;
    border-radius: 3px;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 1.2;
    opacity: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.25s;
    color: #ffffff;
    background: #000;
}
.header_inner .header_icon .tooltip .tooltip__content::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 8px;
    left: 0;
    bottom: 100%;
}
.header_inner .header_icon .tooltip .tooltip__content::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
    left: calc(50% - 5px);
    bottom: -3px;
}
.header_inner .header_icon .tooltip:hover .tooltip__content {
    visibility: visible;
    opacity: 1;
    bottom: calc(100% + 5px);
}
.header_inner .header_icon .svg-icon--medium-small {
    width: 18px;
    height: 18px;
    display: block;
}
.header_inner .header_icon .svg-icon--medium {
    width: 20px;
    height: 20px;
    display: block;
}
.header_inner .header_icon a {
    color: #000;
    display: inline-block;
    position: relative;
    padding: 14px 8px;
}
.header_inner .header_icon a .count_nb {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    height: 22px;
    min-width: 22px;
    background-color: #da3f3f;
    position: absolute;
    top: 5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 9999px;
}
.header_inner .header_icon .icon_search {
    border: 0;
    display: inline-block;
    background: transparent;
    outline: none;
    padding: 8px 12px;
}
.header_inner .header_icon .header_search {
    position: relative;
}
.header_inner .header_icon .header_search .form_search {
    position: absolute;
    top: 100%;
    right: 0;
    background: #ffffff;
    border-radius: 7px;
    padding: 15px;
    border: 1px solid #ebebeb;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s;
}
.header_inner .header_icon .header_search .form_search form {
    display: flex;
}
.header_inner .header_icon .header_search .form_search form input {
    padding: 10px 10px;
    background: rgb(242, 242, 242);
    border-radius: 5px 0 0 5px;
    border: 0;
}
.header_inner .header_icon .header_search .form_search form button {
    background: #000;
    color: #fff;
    padding: 5px 15px;
    font-size: 13px;
    border-radius: 0 5px 5px 0;
    white-space: nowrap;
    border: 0;
    outline: none;
}
.header_inner .header_icon .header_search .form_search:after,
.header_inner .header_icon .header_search .form_search:before {
    bottom: 100%;
    right: 16px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
@media (max-width: 991px) {
    .header_inner .header_icon .header_search .form_search:after,
    .header_inner .header_icon .header_search .form_search:before {
        right: 6px;
    }
}
.header_inner .header_icon .header_search .form_search:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 9px;
    margin-right: 0px;
}
.header_inner .header_icon .header_search .form_search:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ebebeb;
    border-width: 11px;
    margin-right: -2px;
}
.header_inner .header_icon .header_search.open_search .form_search {
    visibility: visible;
    opacity: 1;
}
@media (max-width: 991px) {
    .header_inner .header_icon {
        order: 3;
    }
    .header_inner .header_icon .icon_card, .header_inner .header_icon .icon_wishlist {
        display: none;
    }
    .header_inner .header_icon a, .header_inner .header_icon .icon_search {
        padding: 0px;
        margin-left: 7px;
    }
    .header_inner .header_icon a .tooltip__content, .header_inner .header_icon .icon_search .tooltip__content {
        display: none !important;
    }
}

@media (max-width: 991px) {
    header {
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;
    }
    header .header_inner .header_nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 240px;
        transform: translate(-100%);
        padding-top: 5px;
        height: calc(100vh - 46px);
        visibility: hidden;
        transition: all 0.25s;
        overflow-y: auto;
        background: #fff;
    }
    header .header_inner .header_nav .header_menu {
        display: block;
    }
    header .header_inner .header_nav .header_menu ul li a {
        display: block;
        padding: 12px 16px;
    }
}

.over_lay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3019607843);
    z-index: 19;
    transition: all 0.25s;
}

body.open .over_lay {
    display: block;
    transition-delay: 0.15s;
}
body.open header .header_inner .nav_btn_mb span {
    transform: rotate(45deg);
    transition-delay: 0.22s;
}
body.open header .header_inner .nav_btn_mb span:before {
    top: 0;
    opacity: 0;
    width: 100%;
    transition: top 0.2s ease, opacity 0.2s ease 0.22s, width 0.1s ease;
}
body.open header .header_inner .nav_btn_mb span:after {
    bottom: 0;
    transform: rotate(-90deg);
    width: 100%;
    transition: bottom 0.2s ease, transform 0.2s ease 0.22s, width 0.1s ease;
}
body.open header .header_inner .header_nav {
    transform: translate(0);
    visibility: visible;
}

.register-form__wrapper {
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.register-form__wrapper h2 {
    font-size: 36px;
    font-weight: 400;
    padding: 40px 0 30px;
    text-align: center;
}
@media (max-width: 991px) {
    .register-form__wrapper h2 {
        padding: 20px 0 30px;
        font-size: 30px;
    }
}

.wrap_login {
    display: flex;
    max-width: 1160px;
    padding: 0 60px;
    margin: auto;
}
.wrap_login .register-form__wrapper {
    width: 50%;
    padding: 0 30px;
    margin: 0;
}
.wrap_login .register-form__wrapper h2 {
    text-align: left;
}
@media (max-width: 991px) {
    .wrap_login {
        flex-wrap: wrap;
        padding: 0 0px;
    }
    .wrap_login .register-form__wrapper {
        width: 100%;
    }
}

.form_text {
    display: flex;
    justify-content: space-between;
}

.form-field {
    padding: 6px 12px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
    color: #000;
    width: 100%;
    outline: none;
    line-height: 2;
    margin-bottom: 15px;
    font-family: "Josefin Sans", sans-serif;
    transition: all 0.25s;
    font-size: 16px;
}
.form-field::placeholder {
    color: #7d7d7d;
}
.form-field:focus {
    border-color: rgb(34, 34, 34);
}

.register-form__description {
    color: rgb(102, 102, 102);
    margin-bottom: 20px;
}

.button--primary {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 12px;
    border: 0;
    font-family: "Josefin Sans", sans-serif;
    outline: none;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: var(--m-duration-default, 0.25s) all;
}
.button--primary:hover {
    box-shadow: 0 0 0 0.2rem #000000;
}

.button--secondary {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 16px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 12px;
    border: 1px solid #000000;
    color: #000000;
    font-family: "Josefin Sans", sans-serif;
    outline: none;
    margin-bottom: 15px;
    font-weight: 500;
    transition: var(--m-duration-default, 0.25s) all;
}
.button--secondary:hover {
    box-shadow: 0 0 0 0.2rem #000000;
    background: #000000;
    color: #ffffff;
}

.social_form {
    text-align: center;
}
.social_form a {
    font-size: 16px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 9px 12px;
    border: 1px solid #dadce0;
    margin: 0px 0 15px;
    display: block;
    transition: var(--m-duration-default, 0.25s) all;
}
.social_form a img {
    vertical-align: -6px;
    margin-right: 5px;
}
.social_form a:hover {
    color: #000;
}

.or_span {
    margin: 30px auto 10px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    color: #666;
    font-size: 16px;
}
.or_span span {
    display: inline-block;
    padding: 0 20px;
    transform: translateY(-15px);
    background: #ffffff;
}

footer {
    background: rgb(245, 245, 245);
    padding-top: 80px;
    padding-bottom: 40px;
    margin-top: 80px;
}
@media (max-width: 767px) {
    footer {
        padding-top: 40px;
        margin-top: 40px;
    }
}
footer .footer_inner {
    display: flex;
    margin: 0 -20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    footer .footer_inner {
        margin-bottom: 0px;
    }
}
footer .footer_inner .footer_col {
    width: 25%;
    padding: 0 20px;
}
footer .footer_inner .footer_col .logo_ft {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
}
footer .footer_inner .footer_col h4 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}
footer .footer_inner .footer_col ul li {
    margin: 12px 0;
}
footer .footer_inner .footer_col ul li a {
    color: rgb(102, 102, 102);
    font-size: 16px;
    transition: all 0.25s linear;
    position: relative;
}
footer .footer_inner .footer_col ul li a svg {
    width: 18px;
    vertical-align: sub;
    margin-right: 5px;
}
footer .footer_inner .footer_col ul li a:before {
    content: "";
    height: 1px;
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    bottom: -3px;
    background-color: #000;
    transition: all 0.25s ease;
}
footer .footer_inner .footer_col ul li a:hover {
    color: #000;
}
footer .footer_inner .footer_col ul li a:hover:before {
    width: 100%;
}
@media (max-width: 991px) {
    footer .footer_inner .footer_col {
        width: 50%;
    }
}
@media (max-width: 767px) {
    footer .footer_inner .footer_col {
        width: 100%;
        margin-bottom: 20px;
    }
    footer .footer_inner .footer_col h4 {
        margin-bottom: 10px;
    }
    footer .footer_inner .footer_col ul li {
        margin: 5px 0;
    }
}

.newsletter-form {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.newsletter-form svg {
    width: 16px;
}
.newsletter-form > svg {
    position: absolute;
    top: 14px;
    left: 13px;
}
.newsletter-form .form-field {
    background: #ffffff;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    padding-left: 40px;
    margin-bottom: 0;
}
.newsletter-form .form-field:focus {
    border-color: #eeeeee;
}
.newsletter-form button {
    border: 1px solid #eeeeee;
    border-radius: 0 5px 5px 0;
    background: #ffffff;
    color: #000;
    outline: none;
    border-left: 0;
    padding: 5px 15px;
    cursor: pointer;
}

.copyright_ft {
    text-align: center;
    margin-top: 20px;
}

.social-media-links a {
    color: #222;
    width: 48px;
    height: 48px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #E9E9E9;
    transition: all 0.3s;
    margin-right: 15px;
    margin-bottom: 15px;
}
.social-media-links a svg {
    width: 20px;
    height: 20px;
}
.social-media-links a:hover {
    background-color: #222;
    color: #fff;
    box-shadow: 0 0 0 0.2rem #222;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 3px;
}
.styled-checkbox:hover + label:before {
    background: #000;
}
.styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
    background: #000;
}
.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
.styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 4px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.row_btn {
    display: flex;
    justify-content: space-between;
}
.row_btn .button {
    width: 48%;
}

.wrap_profile {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
    padding: 40px 15px;
}
.wrap_profile .profile_siderbar {
    width: 250px;
    flex-shrink: 0;
    margin-right: 30px;
    margin-bottom: 40px;
}
.wrap_profile .profile_siderbar h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.wrap_profile .profile_siderbar ul li {
    margin: 10px 0;
}
.wrap_profile .profile_siderbar ul li a {
    color: #666666;
    font-size: 16px;
    transition: all 0.25s linear;
    position: relative;
}
.wrap_profile .profile_siderbar ul li a:before {
    content: "";
    height: 1px;
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    bottom: -3px;
    background-color: #000;
    transition: all 0.25s ease;
}
.wrap_profile .profile_siderbar ul li a:hover, .wrap_profile .profile_siderbar ul li a.active {
    color: #000;
}
.wrap_profile .profile_siderbar ul li a:hover:before, .wrap_profile .profile_siderbar ul li a.active:before {
    width: 100%;
}
.wrap_profile .profile_content {
    flex-grow: 1;
}
@media (max-width: 991px) {
    .wrap_profile .profile_siderbar {
        margin-right: 0;
        width: 100%;
    }
}

.arrow-none::after {
    display: none;
}

.alert {
    position: absolute;
    bottom: 20px; /* Cách dưới cùng */
    left: 50%;
    transform: translateX(-50%); /* Đưa nó về giữa */
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    width: auto; /* Hoặc thiết lập chiều rộng tùy ý */
}
.alert-success {
    background-color: #4caf50; /* Màu nền xanh */
    color: white;
}
.alert-danger {
    background-color: #f44336; /* Màu nền đỏ */
    color: white;
}
header {
    background-color: #f8f9fa; /* Màu nền */
    padding: 15px 0; /* Padding trên và dưới */
}

.header_inner {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-between; /* Đẩy logo sang trái và nav sang giữa */
    max-width: 1200px; /* Giới hạn chiều rộng tối đa */
    margin: 0 auto; /* Căn giữa trong màn hình */
    position: relative; /* Để định vị nav */
}

.header_logo {
    flex: 0 1 auto; /* Logo sẽ chiếm không gian cần thiết và không co lại */
}

.header_nav {
    position: absolute; /* Định vị tuyệt đối */
    left: 50%; /* Căn giữa theo chiều ngang */
    transform: translateX(-50%); /* Dịch sang trái nửa chiều rộng của nav */
}

.header_menu {
    list-style: none; /* Xóa dấu chấm */
    padding: 0;
    margin: 0;
    display: flex; /* Hiển thị menu dưới dạng flex */
}

.header_menu li {
    margin: 0 15px; /* Khoảng cách giữa các mục */
}

.header_menu a {
    text-decoration: none; /* Xóa gạch chân */
    color: #333; /* Màu chữ */
    font-weight: bold; /* Chữ đậm */
}

.header_menu a:hover {
    color: #007bff; /* Màu khi hover */
}
.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* Đảm bảo ô input có đủ không gian bên phải cho biểu tượng mắt */
}

#togglePassword, #toggleRepassword {
    font-size: 18px;
    color: #888;
    cursor: pointer;
}

#togglePassword:hover, #toggleRepassword:hover {
    color: #333;
}



