<div class="container-fluid px-4">
    <h2 class="mt-4">Quản lý thương hiệu sản phẩm</h2><br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Thương hiệu</li>
            <li class="breadcrumb-item"><a href="#!/listthuonghieu">Thương hiệu sản phẩm</a></li>
        </ol>
    </nav>

    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <i class="fas fa-table me-1"></i>
                Danh sách thương hiệu sản phẩm
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" data-bs-toggle="modal"
                 data-bs-target="#addModal">
                <button class="btn btn-primary" type="button">Thêm</button>
            </div>
        </div>
        <div class="card-body">
            <input type="text" ng-model="searchText" placeholder="Tìm kiếm..." class="form-control mb-3"/>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Mô tả</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in pager.items | filter: searchText">
                    <td>{{$index + 1 + (pager.page * pager.size)}}</td>
                    <td>{{item.ten}}</td>
                    <td>{{item.moTa}}</td>
                    <td>
                        <div class="badge"
                             ng-class="{'bg-success': item.trangThai === 1, 'bg-danger': item.trangThai === 2, 'bg-secondary': item.trangThai === 3}">
                            <span ng-if="item.trangThai === 1">Đang hoạt động</span>
                            <span ng-if="item.trangThai === 2">Đang khóa</span>
                            <span ng-if="item.trangThai === 3">Khác</span>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-link" type="button" ng-click="updateTrangThaiTo1(item)">
                                <i class="fas fa-check icon-check"></i>
                            </button>
                            <button class="btn btn-link" type="button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" ng-click="edit(item)">
                                <i class="fas fa-info-circle"></i>
                            </button>
                            <button class="btn btn-link" type="button" ng-click="updateTrangThaiTo2(item)">
                                <i class="fas fa-times icon-close"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer d-flex justify-content-between align-items-center">
                <!-- Bộ chọn số lượng dữ liệu hiển thị -->
                <div class="me-auto">
                    <label for="pageSizeSelect" class="me-2">Hiển thị:</label>
                    <select id="pageSizeSelect" ng-model="pager.size" ng-change="pager.updateItems()"
                            class="form-select d-inline-block w-auto">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                </div>

                <!-- Điều hướng trang -->
                <div class="text-center">
                    <button ng-click="pager.first()" class="btn btn-danger">
                        <i class="fas fa-angle-double-left"></i>
                    </button>
                    <button ng-click="pager.prev()" class="btn btn-primary">
                        <i class="fas fa-angle-left"></i>
                    </button>
                    <button class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
                    <button ng-click="pager.next()" class="btn btn-primary">
                        <i class="fas fa-angle-right"></i>
                    </button>
                    <button ng-click="pager.last()" class="btn btn-danger">
                        <i class="fas fa-angle-double-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông tin thương hiệu sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid px-4">
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <label for="inputID" class="form-label">ID</label>
                                <input type="text" class="form-control" id="inputID" ng-model="form.id" readonly>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="inputTen" class="form-label">Tên thương hiệu</label>
                                <input type="text" class="form-control" id="inputTen" ng-model="form.ten">
                            </div>
                            <div class="col-md-12 mt-2">
                                <label for="inputMoTa" class="form-label">Mô tả</label>
                                <textarea type="text" class="form-control" id="inputMoTa" ng-model="form.moTa"></textarea>
                            </div>
<!--                            <div class="col-md-6 mt-2">-->
<!--                                <label for="inputNgayTao" class="form-label">Ngày tạo</label>-->
<!--                                <input type="date" class="form-control" id="inputNgayTao" ng-model="form.ngayTao"-->
<!--                                       readonly>-->
<!--                            </div>-->
<!--                            <div class="col-md-6 mt-2">-->
<!--                                <label for="inputNgayCapNhat" class="form-label">Ngày cập nhật</label>-->
<!--                                <input type="date" class="form-control" id="inputNgayCapNhat"-->
<!--                                       ng-model="form.ngayCapNhat" readonly>-->
<!--                            </div>-->
<!--                            <div class="col-md-6 mt-2">-->
<!--                                <label for="inputNguoiTao" class="form-label">Người tạo</label>-->
<!--                                <input type="text" class="form-control" id="inputNguoiTao" ng-model="form.nguoiTao"-->
<!--                                       readonly>-->
<!--                            </div>-->
<!--                            <div class="col-md-6 mt-2">-->
<!--                                <label for="inputNguoiCapNhat" class="form-label">Người cập nhật</label>-->
<!--                                <input type="text" class="form-control" id="inputNguoiCapNhat"-->
<!--                                       ng-model="form.nguoiCapNhat" readonly>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="card-footer text-center mt-4">
                        <button type="button" class="btn btn-warning me-2" ng-click="update()">
                            <i class="fas fa-edit"></i> Sửa
                        </button>
                        <button type="button" class="btn btn-secondary" ng-click="reset()">
                            <i class="fas fa-redo"></i> Reset
                        </button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Thêm mới danh hiệu sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid px-4">
                        <div class="row">
                            <div class="col-md-12 mt-2">
                                <label for="inputTen" class="form-label">Tên thương hiệu</label>
                                <input type="text" class="form-control" id="inputTen" ng-model="formAdd.ten">
                            </div>
                            <div class="col-md-12 mt-3">
                                <label for="inputMoTa" class="form-label">Mô tả</label>
                                <textarea class="form-control" placeholder="Mô tả tại đây" ng-model="formAdd.moTa"
                                          id="floatingTextarea2" style="height: 100px"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="card-footer text-center mt-4">
                        <button type="button" class="btn btn-warning me-2" ng-click="create()">
                            <i class="fas fa-edit"></i> Thêm
                        </button>
                        <button type="button" class="btn btn-secondary" ng-click="resetAdd()">
                            <i class="fas fa-redo"></i> Reset
                        </button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>

</div>
