<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<div
        style="max-width:900px;background: #FFFFFF;box-shadow: 2px 5px 5px 3px rgba(0, 0, 0, 0.25); border-radius: 5px;padding:30px;margin:15px auto;font-family: 'Inter', sans-serif !important; font-size: 14px;">
    <div>
        <img src="https://postenp-uat.vnpost.vn/logo.png" />
        <p style="margin: 20px 0;">
            Xin chào [[${name}]],
        </p>
        <p style="margin: 20px 0;">
            Cảm ơn bạn đã đăng ký tài khoản trên nền tảng mua sắm ZIAZA. Để sử dụng các
            tiện ích và trải nghiệm dịch vụ của ZIAZA một cách tốt nhất, bạn cần thực hiện xác thực tài khoản.
            Dưới đây là mã xác thực (hiệu lực trong [[${expiredMin}]] phút) để bạn hoàn tất xác thực.
        </p>
        <div style="display:flex; justify-content: center;">
            <div style="background-color: #FCB71E;padding: 11px 48px;font-size: 14px;font-weight: 600;border-radius: 5px;color:#0A2745">
                [[${otp}]]
            </div>
        </div>
        <p style="margin: 20px 0;">
            Mọi thông tin hỗ trợ vui lòng liên hệ với chúng tôi theo số điện thoại và email sau:<br>
            Điện thoại: <br>
            Email:
        </p>
        <p style="margin: 20px 0;">
            Trân trọng và cảm ơn,
            <br>
            <b style="font-weight: 700;">ZIAZA Team</b>
        </p>
    </div>
    <div style="border-top: 1px solid #DEDEE5;padding: 15px 0;">
        <div style="display: flex;flex-wrap: wrap;margin-left:-10px;margin-right: -10px;">
            <div style="padding: 0 10px;">
                <p style="margin-bottom: 16px;">Tải app ZIAZA tại:</p>
                <div
                        style="display: flex;margin-left:-5px;margin-right: -5px; flex-wrap: wrap; justify-content: center;">
                    <div style="padding: 0 5px;flex:1">
                        <a href="[to-link]" style="display: block;width: 100%;">
                            <img style="width: 100%;" src="https://postenp-uat.vnpost.vn/ch-play-link.png" />
                        </a>
                    </div>
                    <div style="padding: 0 5px;flex:1">
                        <a href="[to-link]" style="display: block;width: 100%;">
                            <img style="width: 100%;" src="https://postenp-uat.vnpost.vn/app-store-link.png" />
                        </a>
                    </div>
                </div>
            </div>
            <div style="padding: 0 10px;">
                <p>
                    Kết nối với ZIAZA tại:
                </p>
                <div
                        style="display: flex;margin-left:-5px;margin-right: -5px; flex-wrap: wrap;">
                    <div style="padding: 0 5px;">
                        <a href="[to-link]" style="display: block;">
                            <img style="width: 100%;" src="https://postenp-uat.vnpost.vn/facebook.svg" />
                        </a>
                    </div>
                    <div style="padding: 0 5px;">
                        <a href="[to-link]" style="display: block;">
                            <img style="width: 100%;" src="https://postenp-uat.vnpost.vn/linkedin.svg" />
                        </a>
                    </div>
                    <div style="padding: 0 5px;">
                        <a href="[to-link]" style="display: block;">
                            <img style="width: 100%;" src="https://postenp-uat.vnpost.vn/twitter.svg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>