<!-- header-all.html -->
<div th:fragment="body">
    <header class="d-flex justify-content-between align-items-center p-4 border-bottom"
            style="height: 100px;  background-color: #ffffff;">
        <div class="logo">
            <img src="/images/logo.png" alt="logo" style="height: 80px;" id="logoImage">
        </div>
        <div class="menu d-flex align-items-center justify-content-center flex-grow-1">
            <a href="#" class="mx-2 header-link" data-id="1">ÁO</a>
            <a href="#" class="mx-2 header-link" data-id="2">QUẦN</a>
<!--            <a href="#" class="mx-2 header-link" data-id="10007">TRẺ EM</a>-->
<!--            <a href="#" class="mx-2 header-link">BỘ SƯU TẬP</a>-->
            <a href="/introduce" class="mx-2 header-link">VỀ CHÚNG TÔI</a>
        </div>
        <div class="d-flex align-items-center">
            <div class="search-container">
                <form id="searchForm" action="/search" method="get">
                    <div class="search-box d-flex align-items-center border rounded p-1">
                        <input id="searchInput" type="text" name="ten" class="form-control border-0"
                               placeholder="Tìm kiếm sản phẩm">
                        <button id="searchButton" class="btn p-0 border-0" type="submit"><i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>

            </div>


<!--            <a href="#" class="mx-3" style="font-size: 1.5rem;"><i class="bi bi-headset"></i></a>-->
            <a href="/wishlist" class="mx-3" style="font-size: 1.5rem;"><i class="bi bi-heart"></i></a>

            <!-- User Icon with Dropdown -->
            <div class="user-dropdown mx-3">
                <i class="bi bi-person" id="userIcon"></i>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">Hồ sơ</a>
                    <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                    <a class="dropdown-item" href="#">Đăng xuất</a>
                </div>
            </div>

            <div class="mx-3 position-relative" style="font-size: 1.5rem;">
                <i class="bi bi-bag"></i>
                <span class="cart-badge"
                      style="background-color: orangered; font-size: 1rem; height: 20px; width: 20px; line-height: 20px; padding: 0.1rem 0.3rem; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
</span>

            </div>
        </div>
    </header>
</div>